<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="bankData" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BankDB;Integrated Security=True;Pooling=False" />
  </connectionStrings>
</configuration>